{% extends 'core/base.html' %}
{% load static %}
{% load core_extras %}

{% block extra_css %}
    <!-- JQuery DataTable Css -->
    <link rel="stylesheet" href="{% static 'assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css' %}">
    <style>
        .btn-acao {
            margin: 0px;
            padding: 3px 9px 0px;
        }

        .table td {
            padding: .25rem;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Cliente</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'dashboard' %}"><i class="zmdi zmdi-home"></i>Dashboard</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'legacy_clientes_list' %}">Clientes</a></li>
                        <li class="breadcrumb-item active">Detalhe</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button">
                        <i class="zmdi zmdi-sort-amount-desc"></i>
                    </button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">

                </div>
            </div>
        </div>

        <div class="container-fluid">

            <!-- Tabs With Icon Title -->
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Dados do <strong>Cliente</strong></h2>

                            <ul class="header-dropdown">
                                <li>
                                    <span class="badge badge-warning btn-round">
                                    {% if customer.cli_tipopessoa == 'J' %}
                                        Jurídica
                                    {% elif customer.cli_tipopessoa == 'F' %}
                                        Física
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Editar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs p-0 mb-3 nav-tabs-primary" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#dados_cadastrais">
                                        <i class="zmdi zmdi-folder"></i> Cados cadastrais </a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#contatos"><i class="zmdi zmdi-accounts"></i>
                                        Contatos </a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#enderecos"><i class="zmdi zmdi-pin"></i>
                                        Endereços </a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#valores"><i class="zmdi zmdi-settings"></i>
                                        Valores </a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane in active" id="dados_cadastrais">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <small class="text-muted">Nome Fantasia:</small>
                                                <input type="text" class="form-control" value="{{ customer.cli_nomefantasia_nomecomercial }}" disabled="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <small class="text-muted">Razão Social:</small>
                                                <input type="text" class="form-control" value="{{ customer.cli_razaosocial_nomecompleto }}" disabled="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <small class="text-muted">CNPJ:</small>
                                                <input type="text" class="form-control" value="{{ customer.cli_cpf_cnpj }}" disabled="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <small class="text-muted">IE:</small>
                                                <input type="text" class="form-control" value="{{ customer.cli_rg_ie }}" disabled="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <small class="text-muted">Telefone:</small>
                                                <input type="text" class="form-control" value="{{ customer.full_fone }}" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="contatos">
                                    <!-- Striped Rows -->
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="card">
                                                <div class="body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Contato</th>
                                                                <th>Telefone</th>
                                                                <th>Celular</th>
                                                                <th>ID Nextel</th>
                                                                <th>Email</th>
                                                                <th>Setor</th>
                                                                <th class="align-center">Responsável</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for contact in contacts %}
                                                                <tr>
                                                                    <td>{{ contact.cnt_nome }}</td>
                                                                    <td>{{ contact.full_fone }}</td>
                                                                    <td>
                                                                    {% if contact.cnt_celular %}
                                                                        {{ contact.full_mobile }}
                                                                    {% endif %}
                                                                    </td>
                                                                    <td>{{ contact.cnt_idnextel }}</td>
                                                                    <td>{{ contact.cnt_email }}</td>
                                                                    <td>{{ contact.cnt_setor }}</td>
                                                                    <td class="align-center">
                                                                        {% if contact.cnt_responsavel == '1' %}
                                                                            <i class="zmdi zmdi-badge-check"></i>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="enderecos">
                                    <!-- Striped Rows -->
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="card">
                                                <div class="body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Descrição</th>
                                                                <th>Endereço</th>
                                                                <th>Bairro</th>
                                                                <th>CEP</th>
                                                                <th>Cidade / Estado</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for endereco in enderecos %}
                                                                <tr>
                                                                    <td>{{ endereco.end_descricao }}</td>
                                                                    <td>{{ endereco.end_logradouro }}</td>
                                                                    <td>{{ endereco.end_bairro }}</td>
                                                                    <td>{{ endereco.end_cep }}</td>
                                                                    <td>{{ endereco.end_cidade }} / {{ endereco.end_estado }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="valores"><b>Valores</b>
                                    <p> Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit
                                        mediocritatem an. Pri ut tation electram moderatius.
                                        Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent
                                        aliquid
                                        pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                                        sadipscing mel. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Ordens </strong>de serviço</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="table-customer-list" class="table table-hover dataTable js-exportable" data-order='[[1, "desc"]]' style="border-collapse: collapse !important;">
                                    <thead>
                                    <tr>
                                        <th class="align-center">Número OS</th>
                                        <th class="align-center">Data Abertura</th>
                                        <th class="align-center">Data Entrega</th>
                                        <th data-orderable='false' class="align-center">Horário Entrega</th>
                                        <th data-orderable='false' class="align-center">Status</th>
                                        <th data-orderable='false'></th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th class="align-center">Número OS</th>
                                        <th class="align-center">Data Abertura</th>
                                        <th class="align-center">Data Entrega</th>
                                        <th class="align-center">Horário Entrega</th>
                                        <th class="align-center">Status</th>
                                        <th></th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for os in os_list %}
                                        <tr>
                                            <td class="align-center">{{ os.os_codigo }}</td>
                                            <td class="align-center">{{ os.os_dataabertura|date:"d/m/Y" }}</td>
                                            <td class="align-center">{{ os.os_dataprometida|date:"d/m/Y" }}</td>
                                            <td class="align-center">{{ os.hor_codigo }}</td>
                                            <td class="align-center">{{ os.os_status }}</td>
                                            <td class="align-middle align-center" style="white-space: nowrap; text-align: right;">
                                                <a class="btn btn-primary btn-sm btn-acao" href="{% url 'legacy_customer_detail' cli_codigo=customer.cli_codigo %}" role="button" data-toggle="tooltip" data-placement="top" title="Detalhes">
                                                    <i class="zmdi zmdi-view-compact"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_js %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'assets/bundles/datatablescripts.bundle.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.flash.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.print.min.js' %}"></script>

    <script src="{% static 'assets/js/extras/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/extras/datetime-moment.js' %}"></script>

    <script src="{% static 'assets/js/pages/tables/jquery-datatable.js' %}"></script>
{% endblock extra_js %}